<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="3 seconds" debug="false">
    <contextName>ECCS</contextName>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%thread] %logger{64} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/ECCS.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/ECCS.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%date %level [%thread] %logger{64} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <jmxConfigurator/>

    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="com.my" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

</configuration>
